.custom-sidebar {
  width: 250px;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #f0f0f0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.171);
  padding-top: 1rem;
  position: fixed;
  top: 9.1%;
  left: -200px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.171);
  animation: slideIn 0.3s forwards;
}

/* animation for sidebar  from left to right*/
@keyframes slideIn {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}


.custom-sidebar .ant-menu-item-selected {
  background-color: var(--primary) !important;
  color: white !important;
}

.custom-sidebar .ant-menu-item-selected .anticon {
  color: white !important;
}
