# Port
PORT=3000
ENV=development

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=yourpassword
DB_NAME=admin_panel
LOW_STOCK_THRESHOLD=5

# JWT Secret
COOKIE_EXPIRATION_TIME=supersecretjwtkey
JWT_EXPIRATION_TIME=1d

# Cookie
COOKIE_EXPIRE_DAY=1

# imgBB
IMGBB_API_KEY=<your-imgbb-api-key>

# Frontend URL
FRONTEND_URL=http://localhost:5173